/vendor/
composer.phar
.idea/
.sass-cache
data/DoctrineORMModule
data/cache/*
public/coverage
node_modules/
*.un~
build
*.DS_Store
tags
phpspec-dev.yml
build/
.docker-sync
*.css.map
**/ts/*.js
!**/ts/webpack.config.js
Archive.zip
prepros-6.config
behat-active
local-memcached
tmp
circlical-fixtures-cmd-prefix
stubs